.group-add-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-add-page main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  width: 100%;
}

.group-add-page form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  /* Add a fixed width to ensure the form container is wide enough */
}

.group-add-page label {
  margin-bottom: 10px;
  font-weight: bold;
}

.group-add-page input,
textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  /* Ensure the input and textarea take up the full width of the container */
}

.group-add-page button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.group-add-page button:hover {
  background-color: #45a049;
}