#forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    
    max-width: fit-content;
    margin-inline: auto;

    margin-top: 10%;
    margin-bottom: auto;
    background-color: rgb(52, 52, 52);
    border-radius: 25px;
    padding: 20px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-box input {
    height: 35px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

.input-box label {
    margin-bottom: 5px;
}

.button-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
}

.button-group {
    display: flex;
    justify-content: center;
}
