#sheets-main-page .outer-container {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */

    margin-inline: auto;
    margin-top: 25px;
    margin-bottom: auto;

    background-color: black;
    width: 75%;
    max-width: 1000px;
    height: fit-content;

}

#sheets-main-page .sheet-object {
    display: inline-block;
    vertical-align: middle;

    background-color: gray;
    width: 150px;
    height: 150px;
    
    margin: 10px;
    padding: 10px;

    border-radius: 0px 25px 0px 0px;
}
#sheets-main-page .sheet-object a {
    text-decoration: none;
    color: black;
}

#sheets-main-page #add-sheet {
    /* margin: 0; */
    display: inline-flex;
    padding: 0;
    width: 170px;
    height: 170px;
    background-color: transparent;

    align-items: center;
    justify-content: center;
}

#sheets-main-page #add-sheet button {
    width: 75%;
    height: 75%;
    background-color: rgb(55, 143, 55);
    /* border: none; */
    border-radius: 360px;
}
