#login {
    display: flex;
    justify-content: center;
    align-items: center;
    
    max-width: fit-content;
    margin-inline: auto;

    margin-top: 10%;
    margin-bottom: auto;
    align-items: center;
    background-color: rgb(52, 52, 52);
    border-radius: 25px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    height: 350px;
    width: 350px;
    
    background-color: white;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    gap: 2em;

    padding: 2em;
}

#guest {
    float: left;
    border-radius: 25px 0px 0px 25px;
}

#sign {
    float: right;
    border-radius: 0px 25px 25px 0px;
}

.box a {
    text-decoration: none;
    color: black;
}