main {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex; 
    align-items: center; 
}

#profile {
    display: flex;
    align-items: center; 
    
}

#profile img {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    margin-right: 20px; 
}


#profile div {
    background-color: #fff; 
    border: 1px solid #ccc;
    padding: 10px; 
    width: 300px; 
}

#profile p {
    margin: 0; 
    padding: 8px 0; 
    border-bottom: 1px solid #ccc;
}

#profile p:last-child {
    border-bottom: none; 
}

